/* Опишите в этом файле все keyframes для проекта и стили анимаций иконки Like.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.like-icon .like-icon__core,
.like-icon .like-icon__main-body,
.like-icon .like-icon__contour {
  transition: fill 0.3s ease;
  transform-origin: center;
}

.like-icon .like-icon__sparks {
  opacity: 0;
  fill: var(--animation-fill-color);
}

.like-icon .like-icon__heart {
  transform-origin: center;
}

.memory-card__icon-button:hover .like-icon__core {
  fill: var(--contour-color);
  transition-delay: 0s;
}

.memory-card__icon-button:hover .like-icon__main-body {
  fill: var(--contour-color);
  transition-delay: 0.05s;
}

.memory-card__icon-button .like-icon__main-body {
  transition-delay: 0s;
}

.memory-card__icon-button .like-icon__core {
  transition-delay: 0.03s;
}

.memory-card__icon-button:active .like-icon__core {
  fill: var(--animation-fill-color);
  transition-delay: 0s;
}

.memory-card__icon-button:active .like-icon__main-body {
  fill: var(--animation-fill-color);
  transition-delay: 0.05s;
}

.like-icon.is-liked .like-icon__core {
  fill: var(--animation-fill-color);
  transition-delay: 0s;
}

.like-icon.is-liked .like-icon__main-body {
  fill: var(--animation-fill-color);
  transition-delay: 0.05s;
}

.like-icon.is-liked .like-icon__contour {
  fill: var(--animation-fill-color);
  transition-delay: 0.06s;
}

.like-icon:not(.is-liked) .like-icon__contour {
  transition: fill 0.1s linear;
}

.like-icon.is-liked .like-icon__heart {
  animation: like-icon__heart-scale 0.3s ease-in 0.1s forwards;
}

.like-icon.is-liked .like-icon__sparks {
  animation: like-icon__sparks-fade 0.3s ease-in 0.3s forwards;
}

@keyframes like-icon__heart-scale {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.25);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes like-icon__sparks-fade {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes like-icon__sparks-animation {
  0% {
    opacity: 0;
    transform: scale(0.5);
  }
  50% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(1.2);
  }
}
